@charset "UTF-8";
/*!-------RESET-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ececec;
  font-family: "Montserrat", sans-serif; }

.index__h1, .productos__section--enlaces-relativos, .servicios__section-1, .servicios__section-1 div, .servicios__section-1 div div ul, .servicios__section-2, .servicios__section-2 div:nth-child(3) p, .servicios__adicionales__grid, .servicios__section-4, .nosotros__section-2 div p, .nosotros__section-2 div:nth-child(8) div ul, .contactos__section-1__div, .contactos__section-2, .contactos__section-2 div div, .contactos__section-2 div div div, .contactos__section-3, .footer__grid__direccion iframe {
  border-radius: 15px; }

/*!  Clases repetidas  */
/** Bootstrap */
/*  Relacionado a carruseles  */
.carousel-item img {
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  border-style: solid;
  border-color: #434a50; }

.carousel-caption {
  color: #e7e7e7be; }

/*  Relacionado a las tarjetas  */
.card {
  box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
  transition-duration: 0.5s; }
  .card:hover {
    transform: scale(1.05);
    transition-timing-function: ease;
    box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
    transition-duration: 0.5s; }

.tarjeta-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  background-color: #c2c2c2c9;
  padding: 20px 0 20px 0;
  margin: 0 40px 0 40px;
  border-radius: 20px; }
  .tarjeta-flex div div a {
    text-decoration: none;
    transition-duration: 0.25s; }
    .tarjeta-flex div div a:hover {
      color: #dc3545; }

.card-body-extra {
  background-color: rgba(233, 233, 233, 0.697); }

/*!-------NAV-------*/
header {
  margin: 0 0 20px 0; }
  header nav div div ul {
    margin: 0 0 0 30px; }
  header .container-fluid {
    padding: 20px 0 20px 0; }
    header .container-fluid .navbar-brand img {
      height: 75px; }
  header .nav-item a {
    color: #ffcece; }
    header .nav-item a:hover {
      color: #ff7582; }
  header .navbar-brand img {
    transition-duration: 0.5s; }
    header .navbar-brand img:hover {
      scale: 1.1;
      transition-timing-function: ease; }

.dropdown-menu {
  background-color: #710e1cee; }
  .dropdown-menu li {
    color: black; }
    .dropdown-menu li a {
      transition-duration: 0.25s; }
      .dropdown-menu li a:hover {
        color: black;
        background-color: #de455cee; }

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #8d1224ee !important; }

/*! -------- INDEX -------- */
.index__h1 {
  background-image: url(../img/compilado3.0.jpg);
  background-position: center;
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  margin: 0 30px 20px 30px; }
  .index__h1 a {
    text-decoration: none; }
    .index__h1 a h1 {
      color: #ff7f7f;
      font-weight: 700;
      transition-duration: 0.25s; }
      .index__h1 a h1:hover {
        color: #ff3b3b; }

.index__h2-color {
  color: black;
  display: inline-block;
  padding: 0 0 10px 30px; }
  .index__h2-color a {
    text-decoration: none;
    color: #3E7CB1;
    transition-duration: 0.15s; }
    .index__h2-color a:hover {
      color: #8d1224ee; }

.index__carrusel {
  margin: 20px 15px 20px 15px; }

/*! -------- PRODUCTOS ------- */
.productos__section--enlaces-relativos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  flex-wrap: wrap;
  border-color: #434a50;
  border-style: solid;
  text-align: center;
  margin: 20px 40px 0 40px;
  padding: 10px 0 10px 0; }
  .productos__section--enlaces-relativos a {
    text-decoration: none;
    color: #3E7CB1; }
    .productos__section--enlaces-relativos a img {
      height: 100px;
      transition-duration: 0.5s; }
      .productos__section--enlaces-relativos a img:hover {
        transform: scale(1.1);
        transition-timing-function: ease; }

.carrusel-productos div {
  margin: 20px 0 0 0; }

/*! ------- SERVICIOS --------*/
.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  padding: 30px 0 0 0;
  margin: 0 30px 20px 30px; }
  .h1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    text-align: center;
    margin: 0 30px 20px 30px; }
    .h1 div p {
      color: #434a50;
      font-size: 25px; }
  .h1 h1 {
    border: none;
    color: #8d1224ee;
    font-weight: 700; }

h2 {
  padding: 50px 0 0 30px;
  color: #8d1224ee;
  margin: 15px; }

.servicios__section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: 0 30px 20px 30px;
  padding: 30px;
  background-image: url(../img/servicios__background-image-1.jpg);
  background-size: cover;
  background-position: center; }
  .servicios__section-1 h2 {
    width: 80%;
    padding: 15px;
    margin: 0 0 30px 0;
    background-color: #8d1224ee;
    color: black;
    border-radius: 20px; }
  .servicios__section-1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    margin: 10px 5px 5px 0px;
    padding: 0;
    gap: 5px; }
    .servicios__section-1 div div {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: center;
      background-color: #8d1224ee;
      box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
      -webkit-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
      -moz-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
      transition-duration: 0.5s; }
      .servicios__section-1 div div:hover {
        transform: scale(1.05);
        transition-timing-function: ease;
        box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
        -webkit-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66); }
      .servicios__section-1 div div h4 {
        padding: 15px 0 10px 0;
        width: 100%; }
      .servicios__section-1 div div ul {
        padding: 10px;
        margin: 0 10px 15px 10px;
        background-color: #e65165ee; }
        .servicios__section-1 div div ul li {
          list-style: none;
          padding: 0 5px 0 5px;
          margin: 0 0 30px 0;
          font-weight: 500; }
  .servicios__section-1 p {
    margin: 20px 10px 0 10px;
    color: #a84b4b;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.762); }

.servicios__section-2 {
  margin: 0 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/servicios__montevideo.jpg);
  background-size: cover;
  background-position: bottom; }
  .servicios__section-2 div {
    padding: 0px 0 0 20px; }
    .servicios__section-2 div:nth-child(3) {
      margin: 0 0 20px 0; }
      .servicios__section-2 div:nth-child(3) p {
        background-color: #949494b1;
        margin: 20px 10px 0 10px;
        padding: 15px 20px 15px 20px;
        color: #722d2d;
        font-weight: 500;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.614); }

/** --- GRID --- */
.servicios__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "envios-montevideo servicios__imagen-1" "envios-montevideo servicios__imagen-1" "servicios__imagen-2 envios-interior" "servicios__imagen-2 envios-interior" "recogida servicios__imagen-3" "recogida servicios__imagen-3" "servicios__imagen-4 garantia" "servicios__imagen-4 garantia";
  gap: 20px;
  width: 100%; }
  .servicios__grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbfd2;
    padding: 30px 15px 30px 15px;
    margin: 0 50px 0 0; }
    .servicios__grid div img {
      border-radius: 20px;
      width: 400px;
      transition-duration: 0.25s; }
      .servicios__grid div img:hover {
        transform: translateY(-4.5px); }
    .servicios__grid div p strong {
      color: #8d1224ee; }

/* Componentes de la grilla */
.servicios__grid__imagen-1 {
  grid-area: servicios__imagen-1; }

.servicios__grid__imagen-2 {
  grid-area: servicios__imagen-2; }

.servicios__grid__imagen-3 {
  grid-area: servicios__imagen-3; }

.servicios__grid__imagen-4 {
  grid-area: servicios__imagen-4; }

.servicios__grid__envios-montevideo {
  grid-area: envios-montevideo; }

.servicios__grid__envios-interior {
  grid-area: envios-interior; }

.servicios__grid__recogida {
  grid-area: recogida; }

.servicios__grid__garantia {
  grid-area: garantia; }

/** -------- */
.servicios__section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a0272776;
  margin: 0 30px 20px 30px;
  padding: 0 30px 20px 30px;
  border-radius: 20px; }
  .servicios__section-3 h2 {
    padding: 20px 0 30px 0; }

/** --- GRID --- */
.servicios__adicionales__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "grid__adicionales-1 grid__adicionales-2 grid__adicionales-3" "grid__adicionales-4 grid__adicionales-5 grid__adicionales-6";
  gap: 20px;
  width: 100%;
  padding: 20px 40px 20px 40px;
  background-color: #a84b4b; }

.servicios__grid__adicionales-1 {
  grid-area: grid__adicionales-1; }

.servicios__grid__adicionales-2 {
  grid-area: grid__adicionales-2; }

.servicios__grid__adicionales-3 {
  grid-area: grid__adicionales-3; }

.servicios__grid__adicionales-4 {
  grid-area: grid__adicionales-4; }

.servicios__grid__adicionales-5 {
  grid-area: grid__adicionales-5; }

.servicios__grid__adicionales-6 {
  grid-area: grid__adicionales-6; }

/** ------ */
.servicios__section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d1253cee;
  margin: 0 30px 20px 20px; }
  .servicios__section-4 h2 {
    padding: 30px 0 0 0;
    margin: 0; }
  .servicios__section-4 div {
    margin: 20px 10px 30px 10px;
    padding: 0 40px 0 20px;
    background-color: #e3e2e291;
    border-radius: 20px; }
    .servicios__section-4 div h3 {
      padding: 30px 0 0 0; }
    .servicios__section-4 div ul {
      list-style: none; }
      .servicios__section-4 div ul li {
        padding: 20px 0 0 0; }
    .servicios__section-4 div p a {
      text-decoration: none;
      color: #8d1224ee;
      transition-duration: 0.25s; }
      .servicios__section-4 div p a:hover {
        color: #ed4949; }

/*! -------- NOSOTROS -------- */
.nosotros__section-2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 0 20px 40px 20px;
  padding: 20px 10px 20px 10px; }
  .nosotros__section-2 div h3 {
    margin: 0 0 20px 0;
    padding: 15px 0 15px 0;
    border-radius: 30px;
    font-size: 20px;
    color: #8d1224ee;
    background-color: #e79e9edf;
    width: 50%;
    transition-duration: 0.15s; }
    .nosotros__section-2 div h3:hover {
      scale: 1.02;
      color: #011627;
      background-color: #e95c65; }
      .nosotros__section-2 div h3:hover div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
  .nosotros__section-2 div p {
    background-color: #dddddd6b;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.25s; }
    .nosotros__section-2 div p:hover {
      scale: 1.01;
      background-color: #ddddddd9; }
  .nosotros__section-2 div:nth-child(8) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .nosotros__section-2 div:nth-child(8) div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 30px 0 30px; }
      .nosotros__section-2 div:nth-child(8) div ul {
        background-color: #dddddd6b;
        transition-duration: 0.25s; }
        .nosotros__section-2 div:nth-child(8) div ul:hover {
          scale: 1.01;
          background-color: #ddddddd9; }
        .nosotros__section-2 div:nth-child(8) div ul li {
          text-align: left;
          padding: 5px 15px 5px 15px;
          margin: 0;
          color: #434a50;
          text-decoration: none;
          font-weight: 600; }
          .nosotros__section-2 div:nth-child(8) div ul li span {
            font-weight: 400; }

.nosotros__bg-img-1 {
  background-image: url(../img/nosotros__bg-img-1.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-2 {
  background-image: url(../img/nosotros__bg-img-2.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-3 {
  background-image: url(../img/nosotros__bg-img-3.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-4 {
  background-image: url(../img/nosotros__bg-img-4.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-5 {
  background-image: url(../img/nosotros__bg-img-5.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-6 {
  background-image: url(../img/nosotros__bg-img-6.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-7 {
  background-image: url(../img/nosotros__bg-img-7.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__bg-img-8 {
  background-image: url(../img/nosotros__bg-img-8.jpg);
  background-size: cover;
  background-position: center; }

.nosotros__section-accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
  margin: 30px;
  text-align: center;
  padding: 20px; }
  .nosotros__section-accordion h2 {
    background-color: #8d1224ee;
    color: black;
    padding: 0;
    margin: 0 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.25s; }
    .nosotros__section-accordion h2:hover {
      color: whitesmoke;
      background-color: #89373cee; }

.accordion-button:not(.collapsed) {
  background-color: #89373cda;
  color: black; }

/*! -------- CONTACTO -------- */
.contacto-container-2 {
  padding: 0 0 0 20px; }

.contactos__section-1 {
  display: flex;
  justify-content: center; }

.contactos__section-1__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: #99999999;
  width: 80%;
  padding: 15px 20px 15px 20px;
  margin: 0 0 15px 0; }
  .contactos__section-1__div div {
    height: 100px;
    background-size: cover;
    background-position: center; }
  .contactos__section-1__div img {
    height: 100px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    transition-duration: 0.5s;
    box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
    box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: 9px 10px 14px -9px rgba(0, 0, 0, 0.88); }
    .contactos__section-1__div img:hover {
      transform: scale(1.1);
      transition-timing-function: ease;
      box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
      -webkit-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
      -moz-box-shadow: 9px 10px 29px -3px rgba(0, 0, 0, 0.66);
      transition-duration: 0.5s; }
  .contactos__section-1__div iframe {
    height: 200px;
    width: 200px; }

.contactos__section-2 {
  background-color: #99999999;
  padding: 20px;
  margin: 5px; }
  .contactos__section-2 div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .contactos__section-2 div h3 {
      color: #8d1224ee;
      font-weight: 600; }
    .contactos__section-2 div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: auto;
      background-color: #75757599;
      padding: 30px;
      border-style: solid;
      border-color: #8d1224ee;
      border-width: 1.5px; }
      .contactos__section-2 div div div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        border-style: none; }
        .contactos__section-2 div div div iframe {
          height: 200px;
          width: 350px;
          border-radius: 5px; }
        .contactos__section-2 div div div div {
          background-color: #75757500;
          display: flex;
          flex-direction: column;
          justify-content: auto;
          align-items: start;
          margin: 0;
          padding: 0; }
          .contactos__section-2 div div div div a {
            text-decoration: none;
            color: #8d1224ee;
            transition-duration: 0.3s; }
            .contactos__section-2 div div div div a:hover {
              color: #dc3545; }
  .contactos__section-2 img {
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    transition-duration: 0.5s; }
    .contactos__section-2 img:hover {
      scale: 1.025;
      transition-timing-function: ease; }

.contactos__div--número {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  margin: 15px; }
  .contactos__div--número h3 {
    font-weight: 700;
    color: #8d1224ee;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: #99999999;
    transition-duration: 0.2s; }
    .contactos__div--número h3:hover {
      color: #dc3545; }

.contactos__section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99999999;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  margin: 70px 0px 0px 0px;
  padding: 0px 0 50px 0px;
  width: 80%;
  margin-left: 10%; }
  .contactos__section-3 div {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    width: 70%; }

.contactos__section-3__div-1 {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center; }
  .contactos__section-3__div-1 img {
    margin: 30px 0 0 0;
    width: 100px;
    height: 100px; }

/*!-------FOOTER-------*/
footer {
  background-color: #295264;
  background: linear-gradient(0deg, #4a1d1d 0%, #823434 23%, #ba4d4d 67%);
  padding: 30px 0 0 0; }
  footer div ul li a {
    text-decoration: none;
    color: #011627; }

/** --- GRID --- */
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "contactanos logo direccion" "terminos logo redes";
  width: 100%; }

.footer__grid__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 30px;
  width: 70%; }
  .footer__grid__contacto p:nth-of-type(1) {
    text-align: center;
    color: #8d1224ee;
    display: inline-block;
    background-color: #e79e9edf;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    transition-duration: 0.3s; }
    .footer__grid__contacto p:nth-of-type(1):hover {
      scale: 1.01;
      background-color: #e95c65;
      color: #011627; }
  .footer__grid__contacto ul li {
    display: inline-block; }
    .footer__grid__contacto ul li a {
      color: #011627;
      transition-duration: 0.25s; }
      .footer__grid__contacto ul li a:hover {
        color: #e95c65; }
    .footer__grid__contacto ul li span {
      color: #011627;
      transition-duration: 0.25s; }
      .footer__grid__contacto ul li span:hover {
        color: #e95c65; }

.footer__grid__direccion {
  padding: 0 30px 0 0;
  grid-area: direccion;
  justify-self: end; }
  .footer__grid__direccion iframe {
    width: 400px;
    height: 200px;
    margin: 0 10px 20px 30px; }
  .footer__grid__direccion p {
    color: black; }

.footer__grid__rooking-logo {
  padding: 40px 0 0 0;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-content: center; }
  .footer__grid__rooking-logo img {
    height: 300px;
    transition-duration: 0.5s; }
    .footer__grid__rooking-logo img:hover {
      scale: 1.1;
      transition-timing-function: ease; }

.footer__grid__terminos {
  grid-area: terminos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 30px;
  width: 60%; }
  .footer__grid__terminos p:nth-of-type(1) {
    padding: 5px 15px 5px 15px;
    color: #8d1224ee;
    display: inline-block;
    background-color: #e79e9edf;
    border-radius: 30px;
    transition-duration: 0.3s; }
    .footer__grid__terminos p:nth-of-type(1):hover {
      scale: 1.01;
      background-color: #e95c65;
      color: #011627; }
  .footer__grid__terminos ul {
    margin: 10px 0 0 0; }
    .footer__grid__terminos ul li {
      display: inline-block; }
      .footer__grid__terminos ul li a {
        transition-duration: 0.25s; }
        .footer__grid__terminos ul li a:hover {
          color: #e95c65; }

.footer__grid__redes {
  grid-area: redes;
  justify-self: end;
  margin: 40px 10px 0 0; }
  .footer__grid__redes a img {
    transition-duration: 0.25s; }
    .footer__grid__redes a img:hover {
      transform: translateY(-2.5px); }
  .footer__grid__redes span a {
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    color: #8d1224ee;
    background-color: #e79e9edf;
    transition-duration: 0.25s; }
    .footer__grid__redes span a:hover {
      scale: 1.05;
      background-color: #e95c65;
      color: #011627; }
  .footer__grid__redes a img {
    display: inline-block;
    height: 30px;
    padding: 0 30px;
    margin: 0 0 10px; }
  .footer__grid__redes .facebook-logo {
    padding: 0 0 0 42px; }

/** ------ */
/*! -------- MEDIAQUERIES -------- */
@media (max-width: 1250px) {
  /* Relacionado a Contactos */
  .contactos__section-2 div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .contactos__section-2 img {
    width: 80%;
    margin: 20px;
    border-radius: 5px; } }

@media (max-width: 1050px) {
  /* Relacionado a Footer */
  .footer__grid__rooking-logo img {
    padding: 50px 0 0 0;
    height: 250px; }
  /* Relacionado a Servicios */
  .servicios__section-1 div {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    margin: 10px 5px 5px 10px;
    padding: 0;
    gap: 5px;
    border-radius: 10px; }
  .servicios__grid div img {
    width: 300px; }
  /* Relacionado a Contactos */
  .contactos__section-1__div {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 2px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 15px;
    background-color: #99999999;
    width: 80%;
    padding: 15px 20px 15px 20px;
    margin: 0 0 15px 0; }
    .contactos__section-1__div img {
      height: 70px;
      margin: 20px;
      border-style: solid;
      border-color: black;
      border-radius: 10px;
      border-width: 1px;
      transition-duration: 0.5s; }
      .contactos__section-1__div img:hover {
        transform: scale(1.1); } }

@media (max-width: 970px) {
  /* Relacionado a Footer */
  .footer__grid__rooking-logo img {
    display: none; }
  /* Relacionado a Nosotros */
  .nosotros__section-2 div:nth-child(8) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nosotros__section-2 div:nth-child(8) div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 30px 0 30px; }
      .nosotros__section-2 div:nth-child(8) div ul {
        background-color: #dddddd6b;
        border-radius: 15px;
        transition-duration: 0.25s; }
        .nosotros__section-2 div:nth-child(8) div ul:hover {
          scale: 1.01;
          background-color: #ddddddd9; }
        .nosotros__section-2 div:nth-child(8) div ul li {
          text-align: left;
          padding: 5px 15px 5px 15px;
          margin: 0;
          color: #434a50;
          text-decoration: none;
          font-weight: 600; }
          .nosotros__section-2 div:nth-child(8) div ul li span {
            font-weight: 400; } }

@media (max-width: 860px) {
  /* Relacionado a Servicios */
  .servicios__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "envios-montevideo"  "servicios__imagen-1" "envios-interior" "servicios__imagen-2"  "recogida"  "servicios__imagen-3" "garantia" "servicios__imagen-4"; }
  .servicios__adicionales__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "grid__adicionales-1"  "grid__adicionales-2"  "grid__adicionales-3" "grid__adicionales-4" "grid__adicionales-5"  "grid__adicionales-6";
    gap: 20px;
    width: 100%;
    padding: 20px 40px 20px 40px; }
  /* Relacionado a Contactos */
  .contactos__section-1__div {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 2px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 15px;
    background-color: #99999999;
    width: 80%;
    padding: 15px 20px 15px 20px;
    margin: 0 0 15px 0; }
    .contactos__section-1__div img {
      height: 50px;
      margin: 10px;
      border-style: solid;
      border-color: black;
      border-radius: 10px;
      border-width: 1px;
      transition-duration: 0.5s; }
      .contactos__section-1__div img:hover {
        transform: scale(1.1); } }

@media (max-width: 810px) {
  /* Relacionado a Bootstrap*/
  .card-text {
    display: none; } }

@media (max-width: 760px) {
  /* Relacionado a Productos */
  .productos__section--enlaces-relativos a img {
    height: 75px; }
  /* Relacionado a Footer */
  .footer__grid__direccion iframe {
    width: 370px;
    height: 200px;
    justify-self: start;
    margin: 0; }
  /* Relaciuonado a Contacto */
  .contactos__section-3 div h2 {
    padding: 10px 0 0 0; } }

@media (max-width: 720px) {
  /* Relacionado a Footer */
  .footer__grid {
    grid-template-columns: 1;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contactanos" "direccion" "terminos" "redes";
    width: 100%; }
  .footer__grid__contacto {
    display: inline-block;
    padding: 0 0 0 30px;
    grid-area: contactanos;
    margin-bottom: 20px; }
  .footer__grid__direccion {
    padding: 0 30px;
    grid-area: direccion;
    margin-bottom: 20px; }
    .footer__grid__direccion iframe {
      width: 350px;
      height: 200px;
      justify-self: start;
      margin: 0; }
  .footer__grid__terminos {
    grid-area: terminos;
    margin-bottom: 20px; }
  .footer__grid__redes {
    grid-area: redes;
    display: flex;
    justify-self: start;
    align-items: start;
    flex-direction: column-reverse;
    margin: 0 0 20px 40px; }
  .facebook-logo {
    padding: 0 0 0 30px; } }

@media (max-width: 690px) {
  /* Relacionado a Index */
  .h1-index {
    background-image: url(../img/compilado3.0.jpg);
    background-position: center;
    border-radius: 15px;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    margin: 0 30px 20px 30px; } }

@media (max-width: 620px) {
  /* Relacionado a Bootstrap*/
  .carousel-item img {
    height: 300px;
    object-fit: cover; }
  /* Relacionado a Index */
  .index__h1 {
    padding: 50px 0 50px 0; }
  /* Relacionado a Contactos */
  .contactos__section-2 div div div iframe {
    height: 150px;
    width: 250px;
    border-radius: 5px; }
  .contactos__section-1__div {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: #99999999;
    width: 80%;
    padding: 15px 0px 15px 0px;
    margin: 0 0 15px 0; }
    .contactos__section-1__div img {
      height: 40px;
      margin: 2px;
      border-style: solid;
      border-color: black;
      border-radius: 10px;
      border-width: 1px;
      transition-duration: 0.5s; }
      .contactos__section-1__div img:hover {
        transform: scale(1.1); }
  .contactos__div--número {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contactos__div--número h3:nth-of-type(2) {
      display: none; } }

@media (max-width: 545px) {
  /* Relacionado a Bootstrap*/
  .card-title {
    display: none; }
  /* Relacionado con Servicios */
  .servicios__grid div:nth-child(3n + 2) {
    display: none; }
  /* Relacionado a Contactos */
  .contactos__section-2 div div div iframe {
    height: 100px;
    width: 200px;
    border-radius: 5px; } }

@media (max-width: 470px) {
  /* Relacionado a Bootstrap*/
  .carousel-item img {
    height: 200px;
    object-fit: cover; }
  /* Relacionado a Index */
  .index__h1 {
    padding: 30px 0 30px 0; }
  /* Relacionado a Footer*/
  .footer__grid__direccion iframe {
    width: 250px;
    height: 120px;
    justify-self: start;
    margin: 0; }
  /* Relacionado a Contactos */
  .contactos__section-2 div img {
    display: none; }
  .contactos__section-2 div div div iframe {
    display: none; }
  /* Relacionado a Servicios */
  .servicios__section-1 h2 {
    font-size: 20px; } }

@media (max-width: 450px) {
  /* Relacionado a Index */
  .h1-index {
    background-image: url(../img/compilado3.0.jpg);
    background-position: center;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    margin: 0 30px 20px 30px; }
  /* Relacionado a Productos*/
  .productos__section--enlaces-relativos a img {
    height: 50px; } }

@media (max-width: 400px) {
  /* Relacionado a Bootstrap*/
  .card-link-ver-mas {
    display: none; }
  /* Relacionado a Contactos */
  .contactos__section-1__div {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: #99999999;
    width: 80%;
    padding: 15px 0px 15px 0px;
    margin: 0 0 15px 0; }
    .contactos__section-1__div img {
      height: 30px;
      margin: 2px;
      border-style: solid;
      border-color: black;
      border-radius: 10px;
      border-width: 1px;
      transition-duration: 0.5s; }
      .contactos__section-1__div img:hover {
        transform: scale(1.1); } }
