


/*!-------FOOTER-------*/

footer {
    background-color: #295264;
    background: linear-gradient(0deg, rgba(74,29,29,1) 0%, rgba(130,52,52,1) 23%, rgba(186,77,77,1) 67%);
    padding: 30px 0 0 0;
    div ul li a {
        text-decoration: none;
        color: #011627;
    }
}


/** --- GRID --- */
.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "contactanos logo direccion"
        "terminos logo redes"
    ;
    width: 100%;
}

.footer__grid__contacto {
    @include flex (flex, column, center, center);
    padding: 0 0 0 30px;
    width: 70%;
    p {
        &:nth-of-type(1) {
            text-align: center;
            color: $primary-color;
            display: inline-block;
            background-color: #e79e9edf;
            border-radius: 30px;
            padding: 5px 15px 5px 15px;
            transition-duration: 0.3s;
            &:hover {
                scale: 1.01;
                background-color:#e95c65;
                color: #011627;
            }
        }
    }
    ul {
        li {
            display: inline-block;
            a {
                color: #011627;
                transition-duration: 0.25s;
                &:hover {
                    color: #e95c65;
                }
            }
            span {
                color: #011627;
                transition-duration: 0.25s;
                &:hover {
                    color: #e95c65;
                }
            }
        }
    }
}

.footer__grid__direccion {
    padding: 0 30px 0 0;
    grid-area: direccion;
    justify-self: end;
    iframe {
        width: 400px;
        height: 200px;
        margin: 0 10px 20px 30px;
        @extend %border-radius;
    }
    p {
        color:black;
    }
}

.footer__grid__rooking-logo {
    padding: 40px 0 0 0;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        height: 300px;
        transition-duration: 0.5s;
        &:hover {
            scale: 1.1;
            transition-timing-function: ease;
        }
    }
}

.footer__grid__terminos {
    grid-area: terminos;
    @include flex (flex, column, center, center);
    padding: 0 0 0 30px;
    width: 60%;
    p {
        &:nth-of-type(1) {
            padding: 5px 15px 5px 15px;
            color: $primary-color;
            display: inline-block;
            background-color: #e79e9edf;
            border-radius: 30px;
            transition-duration: 0.3s;
            &:hover {
                scale: 1.01;
                background-color:#e95c65;
                color: #011627;
            }
        }
    }
    ul {
        margin: 10px 0 0 0;
        li {
            display: inline-block;
            a {
                transition-duration: 0.25s;
                &:hover {
                    color: #e95c65;
                }
            }
        }
    }
}

.footer__grid__redes {
    grid-area: redes;
    justify-self: end;
    margin: 40px 10px 0 0;
    a {
        img {
            transition-duration: 0.25s;
            &:hover {
                transform:translateY(-2.5px) ;
        }
        }
    }
    span a {
        text-decoration: none;
        display: inline-block;
        border-radius: 30px;
        padding: 5px 15px 5px 15px;
        color: $primary-color;
        background-color: #e79e9edf;
        transition-duration: 0.25s;
        &:hover {
            scale: 1.05;
            background-color:#e95c65;
            color: #011627;
        }
    }
    a img {
        display: inline-block;
        height: 30px;
        padding: 0 30px;
        margin: 0 0 10px;
    }
    .facebook-logo {
        padding: 0 0 0 42px;
    }
}

/** ------ */


