/*!-------NAV-------*/

header {
    margin: 0 0 20px 0;
    nav {
        div {
            div {
                ul {
                    margin: 0 0 0 30px;
                }
            }
        }
    }
    .container-fluid {
        padding: 20px 0 20px 0;
            .navbar-brand img {
                height: 75px;
            }
    }
    .nav-item a{
        color: rgb(255, 206, 206);
        &:hover {
            color:#ff7582;
        }
    }
    .navbar-brand {
        img {
            transition-duration: 0.5s;
            &:hover {
                scale: 1.1;
                transition-timing-function: ease;
            }
        }
    }
}

.dropdown-menu {
    background-color: #710e1cee;
    li {
        color: black;
        a {
            transition-duration: 0.25s;
            &:hover {
                color: black;
                background-color: #de455cee;
            } 
        }
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: $primary-color !important;
}
