/*! ------- SERVICIOS --------*/

.h1 {
    @include flex (flex, row, center, auto);
    padding: 30px 0 0 0;
    margin: 0 30px 20px 30px;
    div {
        @include flex (flex, column, center, auto);
        text-align: center;
        margin: 0 30px 20px 30px;
        p {
            color: #434a50;
            font-size: 25px;
        }
    }
    h1 {
        border: none;
        color: $primary-color;
        font-weight: 700;
    }
}

.paddingh3 {
    padding: 0px 0 0 20px;
    color: #295264;
    div {
        padding: 0 0 0 40px;
        color: #434a50;
    }
    p {
        strong {
            color:black;
        }
    }
}

.servicios__section-margin {
    margin: 0 40px 0 0;
}

h2 {
    padding: 50px 0 0 30px;
    color: $primary-color;
    margin: 15px;
}